<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attackBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,25},{90,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,91}}</string>
                <key>sourceSize</key>
                <string>{90,91}</string>
            </dict>
            <key>img_arrows1.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,43},{105,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,79}}</string>
                <key>sourceSize</key>
                <string>{105,79}</string>
            </dict>
            <key>img_arrows2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,43},{105,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,79}}</string>
                <key>sourceSize</key>
                <string>{105,79}</string>
            </dict>
            <key>pb_heroblood1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{213,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,21}}</string>
                <key>sourceSize</key>
                <string>{213,21}</string>
            </dict>
            <key>pb_heroblood2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,25},{210,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,16}}</string>
                <key>sourceSize</key>
                <string>{210,16}</string>
            </dict>
            <key>txt_HpGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,2},{26,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{26,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>playUI.png</string>
            <key>size</key>
            <string>{308,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19ba42c2fe2f59eee56abd65f3cbd26a$</string>
            <key>textureFileName</key>
            <string>playUI.png</string>
        </dict>
    </dict>
</plist>
